<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>Mi Carrito</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center align-items-center style="border-bottom: 1px solid black;margin: 2px;" *ngFor="let x of cartProducts">
      <ion-col col-9>
        <div>{{x.name}}</div>
        <p class="text"><strong>Precio: </strong>{{ x.price }}</p>
        <p class="text"><strong>Subtotal: </strong>{{ x.subtotal }}</p>
        <div *ngIf="x.opcion2">
          <p class="text"><strong>Presentación: </strong>{{ x.opcion2 }}</p>
        </div>
        <button ion-button small icon-start color="danger" (click)="deleteCar(x)">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon> Eliminar
        </button>
      </ion-col>
      <ion-col>
        <ion-row justify-content-center align-items-center>
          <ion-col style="text-align: center">
          <h5>{{x.cantidad}}</h5>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-col style="text-align: center">
            <button ion-button icon-only small color="btnform" (click)="removeProduct(x)">
              <ion-icon ios="ios-remove" md="md-remove"></ion-icon>
            </button>
            <button ion-button icon-only small color="btnform" (click)="addMore(x)">
              <ion-icon ios="ios-add" md="md-add"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <!--<ion-col (click)="seeMore(x.producto)">
        <div><img src="{{x.picture}}" class="image-book"/></div>
      </ion-col>-->
    </ion-row>
  </ion-grid>
  <div padding>
    <button ion-button block outline color="{{ btnColor!=null?btnColor:'primary' }}" (click)="confirmateCart()" icon-start [disabled]="btnDisabled">
      <ion-icon ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline"></ion-icon>Confirmar Carrito</button>
  </div>
    <!--<ion-list>
        <div *ngFor="let x of orders">
        <div *ngIf="x.state == '1' && x.libro">
        <button ion-item *ngIf="x.libro" (click)="openBrowser(x.libro, x.products.name)">
          <div item-start>
            <img class="image-book" src="{{ x.products.picture }}">
          </div>
          <h2>{{ x.products.name }}</h2>
          <p>{{ x.products.description }}</p>
        </button>
        <button ion-item *ngIf="!x.libro" (click)="documentEmpty()">
          <div item-start>
            <img class="image-book" src="{{ x.products.picture }}">
          </div>
          <h2>{{ x.products.name }}</h2>
          <p>{{ x.products.description }}</p>
        </button>
        </div>
        </div>
      </ion-list>
  <!--<div style="display: block; max-width: 550px; height: auto; margin-left: auto; margin-right: auto;">
  <div style="overflow-x:auto;">
    <table class="mdl-data-table mdl-js-data-table">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Producto</th>
          <th >Cantidad</th>
          <th >Precio Unitario</th>
          <th >Subtotal</th>
          <th >Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of cartProducts">
          <td class="mdl-data-table__cell--non-numeric">{{x.name}}</td>
          <td>{{x.cantidad}}</td>
          <td>Q {{ x.price }}</td>
          <td>Q {{ x.subtotal }}</td>
          <td>
            <button ion-button clear icon-only (click)="deleteCar(x)" style="margin-top: -6%;" color="delete">
              <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

  <ion-fab bottom right>
    <button ion-fab><ion-icon ios="ios-arrow-dropup-outline" md="md-arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="confirmateCart()" [disabled]="cartProducts.length == 0" >
        <ion-icon ios="ios-done-all" md="md-done-all" ></ion-icon>
      </button>
      <button ion-fab (click)="openModalCreate()">
        <ion-icon ios="ios-eye" md="md-eye" ></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>-->
</ion-content>