<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Subcategorías</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>
  <style></style>

  <ion-slides pager (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let c of categorys">
      <div class="categories_post">
        <img class="card-img rounded-0" *ngIf="c.picture" (click)="seeProducts(c.id)" src="{{c.picture}}" alt="post">
        <img class="card-img rounded-0" *ngIf="!c.picture" (click)="seeProducts(c.id)" src="{{pictureCategories}}" alt="post">
        <div class="categories_details" (click)="seeProducts(c.id)">
            <div class="categories_text">
            <a>
              <h5>{{ c.name }}</h5>
            </a>
          <div class="border_line"></div>
            <p>{{ c.description }}</p>
          </div>
        </div>
      </div>
      <!--<img *ngIf="c.picture" (click)="seeProducts(c.id)" src="{{c.picture}}"/>
      <img *ngIf="!c.picture" (click)="seeProducts(c.id)" src="{{pictureCategories}}"/>
      <h2>{{ c.name }}</h2>
      <p>{{ c.description }}</p>-->
    </ion-slide>  
  </ion-slides>
  
</ion-content>