<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="saveChanges()" padding>
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon name="home"></ion-icon>  Dirección</ion-label>
      <ion-input type="text" name="direccion" [(ngModel)]="data.direccion" required>
      </ion-input>
    </ion-item>
    <!--CIUDAD-->
    <ion-item no-lines>
      <ion-label floating><ion-icon name="information-circle"></ion-icon>  Ciudad</ion-label>
      <ion-input type="text" name="numero" [(ngModel)]="data.ciudad">
      </ion-input>
    </ion-item>
    <!--CALLE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon name="information-circle"></ion-icon>  Calle</ion-label>
      <ion-input type="text" name="numero" [(ngModel)]="data.calle">
      </ion-input>
    </ion-item>
    <!--NO TELEFONO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon name="phone-portrait"></ion-icon>  No. Teléfono</ion-label>
      <ion-input type="text" name="numero" [(ngModel)]="data.numero">
      </ion-input>
    </ion-item>
    <!--OBSERVACIONES-->
    <ion-item no-lines>
      <ion-label floating><ion-icon name="information-circle"></ion-icon>  Observaciones</ion-label>
      <ion-textarea type="text" name="observacion" [(ngModel)]="data.observacion" required rows="1" autosize>
      </ion-textarea>
    </ion-item>
    <button ion-button block type="submit" icon-start color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon name="archive"></ion-icon>
      Guardar Cambios
    </button>
    <button *ngIf="data.id" ion-button block type="button" color="danger" icon-start (click)="delete(data.id)">
      <ion-icon name="trash"></ion-icon>Eliminar
    </button>
  </form>
</ion-content>