<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Información</ion-title>
  </ion-navbar>
</ion-header>

<!--INFORMACION-->
<ion-content *ngIf="!design">
  <div class="splash-bg" [ngStyle]="{'background':'url(' + portadaPicture + ')'}"></div>
  <div class="splash-info">
    <div class="splash-logo" [ngStyle]="{'background-image':'url(' + profilePicture + ')'}"></div>
    <div class="">
      <h3 class="text center">{{ data.firstname }} {{ data.lastname }}</h3>
      <h6 class="text center">{{ data.email }}</h6>
      <p class="text center" *ngIf="data.description"> {{data.description}}</p>
      <p class="text center" *ngIf="data.phone"> {{data.phone}}</p>
    </div>
  </div>

  <div padding>
    <h4>Nuestra Redes</h4><hr>
    <button *ngFor="let x of information" ion-button block type="button" icon-start color="{{x.color}}" (click)="openModalInformation(x.id)"> 
      <ion-icon ios="{{ x.icono }}" md="{{ x.icono }}"></ion-icon>
      {{ x.title }}
    </button>

    <h4>Horario de Servicios</h4><hr>
    <ion-list>
      <ion-item *ngFor="let x of schedules">
        <h2><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  {{ x.title }}</h2>
        <p>{{x.description}}</p>
      </ion-item>
    </ion-list>
    <h4>Nuestra Ubicación</h4><hr>
  </div>
  <div style="height: 300px; width: 100%;" id="map"></div>
</ion-content>

<!--INFORMACION NO. 0-->
<ion-content *ngIf="design == '0'">
  <div class="splash-bg" [ngStyle]="{'background':'url(' + portadaPicture + ')'}"></div>
  <div class="splash-info">
    <div class="splash-logo" [ngStyle]="{'background-image':'url(' + profilePicture + ')'}"></div>
    <div class="">
      <h3 class="text center">{{ data.firstname }} {{ data.lastname }}</h3>
      <h6 class="text center">{{ data.email }}</h6>
      <p class="text center" *ngIf="data.description"> {{data.description}}</p>
      <p class="text center" *ngIf="data.phone"> {{data.phone}}</p>
    </div>
  </div>

  <div padding>
    <h4>Nuestra Redes</h4><hr>
    <button *ngFor="let x of information" ion-button block type="button" icon-start color="{{x.color}}" (click)="openModalInformation(x.id)"> 
      <ion-icon ios="{{ x.icono }}" md="{{ x.icono }}"></ion-icon>
      {{ x.title }}
    </button>

    <h4>Horario de Servicios</h4><hr>
    <ion-list>
      <ion-item *ngFor="let x of schedules">
        <h2><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  {{ x.title }}</h2>
        <p>{{x.description}}</p>
      </ion-item>
    </ion-list>
    <h4>Nuestra Ubicación</h4><hr>
  </div>
  <div style="height: 300px; width: 100%;" id="map"></div>
</ion-content>

<!--INFORMACION NO. 1-->
<ion-content *ngIf="design == '1'">
  <div class="splash-bg" [ngStyle]="{'background':'url(' + portadaPicture + ')'}"></div>
  <div class="splash-info">
    <div class="splash-logo" [ngStyle]="{'background-image':'url(' + profilePicture + ')'}"></div>
    <div class="">
      <h3 class="text center">{{ data.firstname }} {{ data.lastname }}</h3>
      <h6 class="text center">{{ data.email }}</h6>
      <p class="text center" *ngIf="data.description"> {{data.description}}</p>
      <p class="text center" *ngIf="data.phone"> {{data.phone}}</p>
    </div>
  </div>

  <div padding>
    <h4>Horario de Servicios</h4><hr>
    <ion-list>
      <ion-item *ngFor="let x of schedules">
        <h2><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  {{ x.title }}</h2>
        <p>{{x.description}}</p>
      </ion-item>
    </ion-list>
    <h4>Nuestra Ubicación</h4><hr>
  </div>
  <div style="height: 300px; width: 100%;" id="map"></div>

  <!--REDES SOCIALES-->
  <ion-fab right bottom>
    <button ion-fab color="{{ btnColor!=null?btnColor:'black' }}"><ion-icon name="ios-arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button *ngFor="let x of information" (click)="openModal()" color="{{x.color}}" ion-fab>
        <ion-icon ios="{{ x.icono }}" md="{{ x.icono }}"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<!--INFORMACION NO. 2-->
<ion-content *ngIf="design == '2'" [ngStyle]="{'background-image':'url(' + pictureLogin + ')'}">
  <!--INFORMACION-->
  <ion-fab left top>
    <button ion-fab color="{{ btnColor!=null?btnColor:'black' }}"><ion-icon name="arrow-dropdown"></ion-icon></button>
    <ion-fab-list side="bottom">
      <button (click)="openModal()" color="btnform" ion-fab>
        <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>
      </button>
      <button (click)="openModalUbication()" color="btnform" ion-fab>
        <ion-icon ios="ios-map" md="md-map"></ion-icon>
      </button>
      <button (click)="openModalHorary()" color="btnform" ion-fab>
        <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <!--REDES SOCIALES-->
  <ion-fab right top>
    <button ion-fab color="{{ btnColor!=null?btnColor:'black' }}"><ion-icon name="arrow-dropdown"></ion-icon></button>
    <ion-fab-list side="bottom">
      <button *ngIf="data.phone" (click)="call(data.phone)" color="btnform" ion-fab>
        <ion-icon ios="ios-call" md="md-call"></ion-icon>
      </button>
      <button *ngFor="let x of information" (click)="openBrowser(x.link)" color="{{x.color}}" ion-fab>
        <ion-icon ios="{{ x.icono }}" md="{{ x.icono }}"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="showNew == '1'">
  <ion-slides pager>
    <div *ngFor="let x of slider">
      <ion-slide *ngIf="x.activo=='0'">
        <div class="contenedor">
          <img src="{{x.url}}"/>
          <div class="centrado">
            <h3>{{x.titulo}}</h3>
            <p>{{x.descripcion}}</p>
          </div>
        </div>
      </ion-slide>
    </div>
  </ion-slides>
</ion-footer>