<ion-header>
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="baseId == 49">Tips Nutricionales</ion-title>
    <ion-title *ngIf="baseId == 509">Conferencistas</ion-title>
    <ion-title *ngIf="baseId == 47">Noticias</ion-title>
  </ion-toolbar>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-searchbar id="myInput" [(ngModel)]="search" autofocus
    (ionChange)="searchTable()" (keyup)="searchTable()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="+membresiaClient >= +nivelMembresia">
  <div class="w3-row">
    <div class="w3-half" *ngFor="let p of news" id="myList">
      <ion-card (click)="detailTip(p.id)">
          <img class="img-tip" src="{{ p.picture }}"/>
          <ion-card-content >
              <ion-card-title style="text-align: center">
              {{p.title}}
              </ion-card-title>
              <p>
              {{p.description}}
              </p>
          </ion-card-content>
          <ion-list>
        </ion-list>
      </ion-card>
    </div>
  </div>
  </div>
</ion-content>
