<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">    
    <ion-title>No. Comprobante {{order.id}}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form (ngSubmit)="saveChanges()">
    <!--NOMBRE-->
    <div *ngIf="order.image" id='iframe'>
      <img class="image-slides2" [src]="order.image | sanitizer">
    </div>
    <!--NOMBRE-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Usuario</ion-label>
      <ion-input type="text"
      [(ngModel)]="order.userProvider" name="userProvider" disabled>
      </ion-input>
    </ion-item>
    <!--NOMBRE-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Nombre</ion-label>
      <ion-input type="text"
      [(ngModel)]="order.name" name="name" disabled>
      </ion-input>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripcion</ion-label>
      <ion-textarea type="text"
      [(ngModel)]="order.description" name="description" disabled>
      </ion-textarea>
    </ion-item>
    <!--PRECIO-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Precio por Unidad</ion-label>
      <ion-input type="text"
        [(ngModel)]="order.unit_prices" name="unit_prices" disabled >
      </ion-input>
    </ion-item>
    <!--CANTIDAD-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-basket-outline" md="ios-basket"></ion-icon>  Cantidad</ion-label>
      <ion-input type="number"
        [(ngModel)]="order.quantity" name="quantity" disabled>
      </ion-input>
    </ion-item>
    <!--COMENTARIO-->
    <ion-item *ngIf="order.comment">
      <ion-label floating><ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>  Comentario</ion-label>
      <ion-textarea type="text"
      [(ngModel)]="order.comment" name="comment" disabled>
      </ion-textarea>
    </ion-item>
    <!--APROBACION-->
    <ion-item *ngIf="order.aprobacion">
      <ion-label floating><ion-icon ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline"></ion-icon>  Aprobación</ion-label>
      <ion-input type="text"
        [(ngModel)]="order.aprobacion" name="aprobacion" disabled >
      </ion-input>
    </ion-item>
    <!--APROBACION-->
    <ion-item *ngIf="order.created">
      <ion-label floating><ion-icon name="document"></ion-icon>  Fecha de Emisión</ion-label>
      <ion-input type="text"
        [(ngModel)]="order.create" name="create" disabled >
      </ion-input>
    </ion-item>
    <!--DEPOSITO-->
    <ion-item *ngIf="order.deposito">
      <ion-label floating><ion-icon ios="ios-document" md="md-document"></ion-icon>  Deposito</ion-label>
      <ion-input type="text"
        [(ngModel)]="order.deposito" name="deposito" disabled >
      </ion-input>
    </ion-item>
    <!--APROBACION-->
    <ion-item *ngIf="order.fecha">
      <ion-label floating><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Fecha y Hora de Autorización</ion-label>
      <ion-input type="text"
        [(ngModel)]="order.fecha" name="fecha" disabled >
      </ion-input>
    </ion-item>
    <!--VISUALIZAR DEPOSITO-->
    <ion-item *ngIf="order.picture">
      <ion-row justify-content-center>
        <img  style="height: 40%; width: 60%;" [src]="order.picture | sanitizer"/>
      </ion-row>
    </ion-item>
    <button ion-button block type="submit" icon-start [disabled]="btnDisabled" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Aceptar Orden
    </button>
  </form>
</ion-content>
