<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar *ngIf="parameter"  color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="actualizar">
        Actualizar
      </ion-segment-button>
      <ion-segment-button value="detalle">
        Detalles
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="selectItem == 'actualizar'" (ngSubmit)="saveChanges()" padding>
    <div *ngIf="data.url" id='iframe'>
      <img class="image-slides2" id="imgAvatar" alt="Avatar" [src]="data.url | sanitizer">
    </div>
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Título</ion-label>
      <ion-input type="text" name="titulo" [(ngModel)]="data.titulo" required>
      </ion-input>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción</ion-label>
      <ion-textarea type="text" name="descripcion" [(ngModel)]="data.descripcion" required rows="1" autosize>
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating><ion-icon name="checkbox"></ion-icon>  Activar Anuncio</ion-label>
      <ion-select [(ngModel)]="data.activo" name="activo">
        <ion-option value="0">Activado</ion-option>
        <ion-option value="1">Desactivado</ion-option>
      </ion-select>
    </ion-item>
    <!--IMAGEN-->
    <div class="upload-btn-wrapper" *ngIf="data.id">
      <button style="width: 100%" ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}">
        <ion-icon ios="ios-image" md="md-image"></ion-icon>
        Subir Imagen
      </button>
      <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
    </div>
    <button ion-button block type="submit" icon-start color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
    <button ion-button block type="button" color="danger" icon-start (click)="delete(data.id)">
      <ion-icon ios="ios-trash" md="md-trash"></ion-icon>Eliminar
    </button>
  </form>

  <div *ngIf="selectItem == 'detalle'">
    <div *ngIf="data.url" id='iframe'>
      <img class="image-slides2" [src]="data.url | sanitizer">
    </div>

    <!-- INFORMACION -->
    <div>
      <h2 class="text center" *ngIf="data.titulo">{{data.titulo}}</h2>
      <p class="text center" *ngIf="data.descripcion">{{data.descripcion}}
      </p>
    </div>
    <!-- COMENTARIOS DE USUARIOS 
    <div>
      <ion-card *ngFor="let x of comments">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ c.picture }}">
        </ion-avatar>
        <h2>{{ x.user }}</h2>
        <p>{{ x.fecha }}</p>
      </ion-item>
      <ion-card-content>
        <p>{{ x.comment }}</p>
      </ion-card-content>
      </ion-card>
    </div>-->
  </div>
</ion-content>