<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categorías</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" *ngIf="categorys">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

    <ion-card (click)="openProducts(data.id)" *ngFor="let data of categorys">
        <img src="{{(data.picture!=null)?data.picture:'http://placehold.it/3840x2160?text='+data.description}}"/>
        <div class="card-title">{{ data.name }}</div>
        <div class="card-subtitle">{{ data.description }}</div>
    </ion-card>

    <ion-fab right bottom>
        <button ion-fab (click)="add()">
        <ion-icon name="md-add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
