<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tips de la Biblia</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let x of table" (click)="openForm(x.id)">
      <div item-start>
        <img class="image-blog" *ngIf="x.picture"
        src="{{ x.picture }}">
        <img class="image-blog" *ngIf="!x.picture" 
        src="https://www.alimmenta.com/wp-content/uploads/2018/07/desayunos-para-adelgazar.jpg">
      </div>
      <h2>{{ x.title }}</h2>
      <p class="contenido">{{ x.description }}</p>
      <p><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  {{ x.created_at }}</p>
    </ion-item>
  </ion-list>
</ion-content>