<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">    
    <ion-title>Términos y Condiciones</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="pictureLogin" [ngStyle]="{'background-image':'url(' + pictureLogin + ')'}" style="background: center; background-size: cover;" padding>
  <form class="item item-trns" padding>
    <h6 color="white">ACTIVIDAD FÍSICA</h6>
    <p style="text-align : justify;" color="white">
      Entiendo que mi participación en el App de ZFit se trata de una actividad deportiva
       y que involucra esfuerzo físico, por lo que implica riesgo si padezco alguna 
       enfermedad diagnosticada previamente. Declaro que soy apto para participar, 
       seguir el contenido dentro del app y libero de responsabilidad a los organizadores, 
       staff y desarrolladores, en cualquier hecho relacionado al párrafo anterior. 
       Para cualquier consulta específica sobre alguna condición de salud puedes contactarnos 
       en www.zfitguatemala.com
    </p>
    <button color="negro" ion-button block type="button" icon-start (click)="openBrowser('https://www.zfitguatemala.com/')">
      <ion-icon ios="ios-link" md="md-link"></ion-icon>
      ZFIT Guatemala
    </button>
    <h6 class="text" color="white">SEGURIDAD</h6>
    <p class="mayusculas" color="white">Seguridad para el módulo de zfit club</p>
    <p style="text-align : justify;" color="white">
      Reconozco que el App promociona el vinculo de la comunidad, para lo cuál a diseñado 
      una plataforma para poder relacionarse con otros usuarios. Sin embargo, se le pide 
      al usuario total discreción con información personal, seguridad y determinar 
      la validez de los eventos (Zfit Club) con el staff de ZFit si se tuviera alguna duda. 
      Se recomiendo no realizar reuniones de zfit club o eventos, en espacios cerrados, 
      privados o de dudosa seguridad. Se aconseja utilizar espacios públicos abiertos y 
      con presencia de más personas.
    </p>
    <button color="negro" ion-button block type="button" icon-start (click)="accept()">
      <ion-icon ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline"></ion-icon>
      Acepto los Términos y Condiciones
    </button>
  </form>
</ion-content>