<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categorías</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>
  <style></style>

  <ion-slides pager (ionSlideDidChange)="slideChanged()">
    <div *ngFor="let c of categorys">
      <ion-slide *ngIf="!c.parent">
        <div class="categories_post">
          <img class="card-img rounded-0" *ngIf="c.picture" (click)="seeProducts(c.id, c.subcategorys, c)" src="{{c.picture}}" alt="post">
          <img class="card-img rounded-0" *ngIf="!c.picture" (click)="seeProducts(c.id, c.subcategorys, c)" src="{{pictureCategories}}" alt="post">
          <div class="categories_details" (click)="seeProducts(c.id, c.subcategorys, c)">
              <div class="categories_text">
              <a>
                <h5>{{ c.name }}</h5>
              </a>
            <div class="border_line"></div>
              <p>{{ c.description }}</p>
            </div>
          </div>
        </div>
        <!--<img *ngIf="c.picture" (click)="seeProducts(c.id, c.subcategorys,)" src="{{c.picture}}"
        style="display: block; width: 350px; height: auto; margin-left: auto; margin-right: auto;"/>
        <img *ngIf="!c.picture" (click)="seeProducts(c.id, c.subcategorys)" src="{{pictureCategories}}"
        style="display: block; width: 350px; height: auto; margin-left: auto; margin-right: auto;"/>
        <h2>{{ c.name }}</h2>
        <p>{{ c.description }}</p>
        <ion-row>
          <ion-col md-6>
            <button ion-button block outline color="danger" icon-start
            (click)="delete(c.id)">
              <ion-icon name="trash"></ion-icon>
              Eliminar
            </button>
          </ion-col>
          <ion-col md-6>
            <button ion-button block outline color="{{ btnColor!=null?btnColor:'primary' }}" icon-start
            (click)="openModal(c.id)">
              <ion-icon name="create"></ion-icon>
              Actualizar
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col md-6>
            <button ion-button block outline color="azulmarino" icon-start
            (click)="removeOrder(c)">
              <ion-icon name="arrow-dropleft-circle"></ion-icon>Anterior
            </button>
          </ion-col>
          <ion-col md-6>
            <button ion-button block outline color="azulmarino" icon-start
            (click)="addOrder(c)">
              <ion-icon name="arrow-dropright-circle"></ion-icon>Siguiente
            </button>
          </ion-col>
        </ion-row>-->
      </ion-slide>
    </div>
  </ion-slides>

  <ion-fab right bottom>
    <button ion-fab (click)="openModal('new')" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>