<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="idUser == 49">Chat Coach Online</ion-title>
    <ion-title *ngIf="idUser != 49">Mensajería</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <div *ngFor="let m of messages">
      <ion-item *ngIf="m.tipo == '0'" (click)="messagesClientUser(m.id)">
        <ion-thumbnail item-start>
          <img src="{{ m.picture }}">
        </ion-thumbnail>
        <h2>{{ m.user }}</h2>
      </ion-item>
    </div>
  </ion-list>

  <!-- <ion-fab right bottom>
    <button ion-fab (click)="sendMessage()">
      <ion-icon name="md-send"></ion-icon>
    </button>
  </ion-fab> -->

</ion-content>
