<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Información</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="splash-bg" [ngStyle]="{'background':'url(' + portadaPicture + ')'}"></div>
  <div class="splash-info">
    <div class="splash-logo" [ngStyle]="{'background-image':'url(' + profilePicture + ')'}"></div>
    <div class="">
      <h3 class="text center">{{ data.firstname }} {{ data.lastname }}</h3>
      <h6 class="text center">{{ data.email }}</h6>
      <p class="text center" *ngIf="data.description"> {{data.description}}</p>
    </div>
  </div>

  <div padding>
    <h4>Nuestra Redes</h4><hr>
    <button *ngFor="let x of information" ion-button block type="button" icon-start color="{{x.color}}" (click)="openModalInformation(x.id)"> 
      <ion-icon ios="{{ x.icono }}" md="{{ x.icono }}"></ion-icon>
      {{ x.title }}
    </button>

    <h4>Horario de Servicios</h4><hr>
    <ion-list>
      <ion-item *ngFor="let x of schedules" (click)="openModalSchedule(x.id)">
        <h2><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  {{ x.title }}</h2>
        <p>{{x.description}}</p>
      </ion-item>
    </ion-list>
    <h4>Nuestra Ubicación</h4><hr>
    </div>
  <div style="height: 300px; width: 100%;" id="map"></div>

  <!-- BOTON AGREGAR-->
  <ion-fab right bottom>
    <button ion-fab  color="{{ btnColor }}">
      <ion-icon ios="ios-arrow-up-outline" md="ios-arrow-up-outline"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="{{ btnColor }}" (click)="openModalInformation()">
        <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>
      </button>
      <button ion-fab color="{{ btnColor }}" (click)="openModalSchedule()">
        <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>