<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Running Club</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content>      
      </ion-refresher-content>
    </ion-refresher>
    <div style="height: 300px; width: 100%;" id="map"></div>
    <div>
    <!-- INFORMACION -->
    <div>
      <h3 class="text center" *ngIf="event.description">{{event.description}}</h3>
      <p class="text center" *ngIf="event.address ">
        <strong>
          <ion-icon ios="ios-pin-outline" md="md-pin"></ion-icon>  Dirección:
        </strong> {{event.address}}
      </p>
      <p class="text center" *ngIf="event.place ">
        <strong>
          <ion-icon ios="ios-pin-outline" md="md-pin"></ion-icon>  Lugar:
        </strong> {{event.place}}
      </p>
      <p class="text center" *ngIf="event.description ">
        <strong>
          <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Fecha:
        </strong> {{event.date}}
      </p>
      <p class="text center" *ngIf="event.description ">
        <strong>
          <ion-icon ios="ios-time" md="md-time"></ion-icon>  Hora:
        </strong> {{event.time}}
      </p>
      <p class="text center" *ngIf="event.time">
        <strong>
          <ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Creado por:
        </strong> {{event.user}}
      </p>
      <p class="text center">
        <strong>
          <ion-icon ios="ios-people" md="md-people"></ion-icon>  No. Asistentes:
        </strong> {{ event.assistants }}
      </p>
      <p class="text center">
        <strong>
          <ion-icon ios="ios-people" md="md-people"></ion-icon>  No. Interesados:
        </strong> {{ event.interested }}
      </p>
    </div>
        <ion-list no-lines>      
            <button [disabled]="changeAssistants" menuClose ion-item (click)="assist()">
                <ion-icon name="md-calendar" item-start></ion-icon>
                Asistiré
            </button>
            <button [disabled]="changeInterested" menuClose ion-item (click)="interested()">
                <ion-icon name="md-heart" item-start></ion-icon>
                Me Interesa
            </button>
        </ion-list>
        <div>
            <ion-card *ngFor="let c of comments">
            <ion-item>
                <ion-avatar item-start>
                <img src="{{ c.picture }}">
                </ion-avatar>
                <h2>{{ c.user }}</h2>
                <p>{{ c.fecha }}</p>
            </ion-item>
            <ion-card-content>
                <p>{{ c.comment }}</p>
            </ion-card-content>
            </ion-card>
        </div>
    </div>

    <ion-fab right bottom>
        <button ion-fab (click)="openPage(event.id)">
            <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
        </button>
    </ion-fab>
</ion-content>

