<ion-header>
    <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Coach</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item ion-item (click)="openModal()">
        <ion-thumbnail item-start>
          <img src="https://is2-ssl.mzstatic.com/image/thumb/Purple113/v4/6f/9a/c2/6f9ac240-b47a-b6b9-78bb-5c1a52a281f0/source/512x512bb.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2>Semana I</h2>
          <p>Descripción de Semana I.</p>
          <p>Finalizado</p>
        </ion-label>
    </ion-item>
    <ion-item ion-item (click)="openModal()">
        <ion-thumbnail item-start>
          <img src="https://is2-ssl.mzstatic.com/image/thumb/Purple113/v4/6f/9a/c2/6f9ac240-b47a-b6b9-78bb-5c1a52a281f0/source/512x512bb.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2>Semana II</h2>
          <p>Descripción de Semana II.</p>
          <p>Finalizado</p>
        </ion-label>
    </ion-item>
    <ion-item ion-item (click)="openModal()">
        <ion-thumbnail item-start>
          <img src="https://is2-ssl.mzstatic.com/image/thumb/Purple113/v4/6f/9a/c2/6f9ac240-b47a-b6b9-78bb-5c1a52a281f0/source/512x512bb.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2>Semana III</h2>
          <p>Descripción de Semana III.</p>
          <p>Sin Terminar</p>
        </ion-label>
    </ion-item>

    <ion-fab right bottom>
        <button ion-fab color="{{ btnColor!=null?btnColor:'primary' }}">
          <ion-icon name="md-add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>