<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ data.title }}</ion-title>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar *ngIf="parameter" color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="detalle">
        Detalles
      </ion-segment-button>
      <ion-segment-button value="puntaje" (click)="getAll()">
        Miembros
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="selectItem == 'detalle'">
    <div *ngIf="data.picture" id='iframe'>
      <img class="image-slides2" [src]="data.picture | sanitizer">
    </div>

    <!-- INFORMACION -->
    <div>
      <h2 class="text center" *ngIf="data.title">{{data.title}}</h2>
      <p class="text center" *ngIf="data.description">{{data.description}}
      </p>
    </div>

    <!-- COMENTARIOS DE USUARIOS -->
    <div *ngFor="let c of data.comments">
      <ion-card style="position: relative" class="accordion">
      <ion-fab right top mini>
        <button ion-fab top mini>
          <ion-icon ios="ios-more" md="md-more"></ion-icon>
        </button>
        <ion-fab-list side="left">
          <button ion-fab (click)="openFormComment(c.id)"><ion-icon ios="ios-chatboxes" md="md-chatboxes"></ion-icon></button>
          <button ion-fab (click)="delete(c.id)" *ngIf="c.user == idClient"><ion-icon ios="ios-trash" md="md-trash"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ c.users.picture }}">
        </ion-avatar>
        <h2>{{ c.users.firstname }} {{ c.users.lastname }}</h2>
        <p>{{ c.created_at }}</p>
      </ion-item>
      <img  style="display: block; max-width: 600px; height: auto; margin-left: auto; margin-right: auto;" *ngIf="c.picture" src="{{c.picture}}" imageViewer>
      <ion-card-content>
        <p>{{ c.comment }}</p>
      </ion-card-content>
      </ion-card>

      <div style="padding-left: 15px;" class="panel">
      <ion-card *ngFor="let x of c.comments">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{ x.users.picture }}">
          </ion-avatar>
          <h2>{{ x.users.firstname }} {{ x.users.lastname }}</h2>
          <p>{{ x.created_at }}</p>
        </ion-item>
        <img  style="display: block; max-width: 600px; height: auto; margin-left: auto; margin-right: auto;" *ngIf="x.picture" src="{{x.picture}}" imageViewer>
        <ion-card-content>
          <p>{{ x.comment }}</p>
        </ion-card-content>
      </ion-card>
      </div>
    </div>
  </div>

  <div *ngIf="selectItem == 'puntaje'">
    <ion-list>
      <ion-item *ngFor="let x of members">
        <ion-thumbnail item-start>
          <img src="{{x.users.picture}}">
        </ion-thumbnail>
        <h2>{{x.users.firstname}} {{x.users.lastname}}</h2>
        <p><strong>Puntaje: </strong>{{x.puntaje}}</p>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab right bottom>
    <button ion-fab (click)="openForm()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
