.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
    .text-abc {
      position: absolute;
      padding: 30px; 
      top: 15%;
      bottom: 15%;
      left: 8%;
      right: 8%;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.6);
    }
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }