<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cronómetro</ion-title>
  </ion-navbar>
    <!-- ION TOOLBAR -->
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="crono">
        Cronómetro
      </ion-segment-button>
      <ion-segment-button value="metro">
        Metrónomo
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="selectItem=='crono'">
  <div class="reloj">
      <p id="horas" class="horas">{{_minutos}}:{{_segundos}}.{{_centesimas}}</p>
  </div>
  <ion-row style="align-self: center">
    <ion-col>
      <button ion-button block color="primary" (click)="estadoSwap()">
        <ion-icon [name]=estado></ion-icon>
      </button>      
    </ion-col>
    <ion-col>
      <button ion-button block color="primary" (click)="stop()">
        <ion-icon name="refresh" ></ion-icon>        
      </button>
    </ion-col>
  </ion-row>
  </div>
  <div class="bodyUpper">
  <div wand ng-class="">
    <div bob-drag-region>
      <a bob></a>
    </div>
  </div>
</div>
<div style="height: 100%; width: 100%" *ngIf="selectItem=='metro'">
<iframe style="height: 100%; width: 100%" src="https://victorblog.com/metronome/">
</iframe>
</div>
</ion-content>