<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
    <!-- NOMBRE -->
    <ion-item>
      <ion-label floating><ion-icon name="pricetag"></ion-icon>  Producto</ion-label>
      <ion-input type="text" [(ngModel)]="product.nombre" name="nombre" disabled>
      </ion-input>
    </ion-item>
    <!--PRECIO-->
    <ion-item>
      <ion-label floating><ion-icon name="pricetag"></ion-icon>  Precio por Unidad</ion-label>
      <ion-input type="text"
        [(ngModel)]="product.price" name="price" disabled >
      </ion-input>
    </ion-item>
    <!--CANTIDAD-->
    <ion-item>
      <ion-label floating><ion-icon name="cart"></ion-icon>  Cantidad</ion-label>
      <ion-select [(ngModel)]="product.cantidad" name="cantidad">
        <ion-option *ngFor="let x of quantities" value="{{ x }}">{{ x }}</ion-option>
      </ion-select>
    </ion-item>
    <!-- NOMBRE -->
    <ion-item>
      <ion-label floating><ion-icon name="person"></ion-icon>  Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="data.x_first_name" name="x_first_name" disabled>
      </ion-input>
    </ion-item>
    <!-- APELLIDO -->
    <ion-item>
      <ion-label floating><ion-icon name="person"></ion-icon>  Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="data.x_last_name" name="x_last_name" disabled>
      </ion-input>
    </ion-item>
    <!-- NIT -->
    <ion-item>
      <ion-label floating><ion-icon name="document"></ion-icon>  NIT</ion-label>
      <ion-input type="text" [(ngModel)]="data.x_company" name="x_company">
      </ion-input>
    </ion-item>
    <!-- DIRECCION -->
    <ion-item>
      <ion-label floating><ion-icon name="home"></ion-icon>  Dirección</ion-label>
      <ion-select [(ngModel)]="data.x_address" name="x_address">
        <div *ngFor="let x of address">
          <ion-option value="{{x}}" *ngIf="x.client == idClient">{{ x.direccion }}</ion-option>
        </div>
      </ion-select>
    </ion-item>
    <!-- TIPO DE TARJETA -->
    <ion-item>
    <ion-label floating><ion-icon name="card"></ion-icon>  Tipo de Tarjeta</ion-label>
      <ion-select [(ngModel)]="data.cc_type" name="cc_type">
        <ion-option value="visa">Visa</ion-option>
        <ion-option value="mastercard">MasterCard</ion-option>
      </ion-select>
    </ion-item>
    <!-- NUMERO DE TARJETA -->
    <ion-item>
      <ion-label floating><ion-icon name="card"></ion-icon>  No. Tarjeta</ion-label>
      <ion-input type="number" [(ngModel)]="data.cc_number" name="cc_number">
      </ion-input>
    </ion-item>
    <!-- NOMBRE DE LA TARJETA -->
    <ion-item>
      <ion-label floating><ion-icon name="card"></ion-icon>  Nombre de Tarjeta</ion-label>
      <ion-input type="text" [(ngModel)]="data.cc_name" name="cc_name">
      </ion-input>
    </ion-item>
    <!-- CVV -->
    <ion-item>
      <ion-label floating><ion-icon name="card"></ion-icon>  CVV</ion-label>
      <ion-input type="text" [(ngModel)]="data.cc_cvv2" name="cc_cvv2">
      </ion-input>
    </ion-item>
    <!--FECHA-->
    <ion-item>
      <ion-label floating><ion-icon name="calendar"></ion-icon>  Fecha de Expiración</ion-label>
      <!--<ion-datetime display-format="MM/YYYY" picker-format="MMMM YYYY" [(ngModel)]="data.cc_exp" name="cc_exp" max="2030-12-31">
      </ion-datetime>-->
      <ion-input type="text" [(ngModel)]="data.cc_exp" name="cc_exp">
      </ion-input>
    </ion-item>
    <!--VISACUOTAS-->
    <ion-item>
      <ion-label floating><ion-icon name="card"></ion-icon>  Visacuotas</ion-label>
      <ion-select [(ngModel)]="data.visaencuotas" name="visaencuotas">
        <ion-option value="0">0</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="6">6</ion-option>
        <ion-option value="10">10</ion-option>
        <ion-option value="12">12</ion-option>
        <ion-option value="15">15</ion-option>
        <ion-option value="18">18</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button block icon-start type="submit" color="primary" [disabled]="btnDisabled">
      <ion-icon ios="ios-cart" md="md-cart"></ion-icon>Test
    </button>
  </form>
</ion-content>