<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Subcategorías</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>
  <style></style>

  <div class="w3-row">
    <div class="w3-half" *ngFor="let c of categorys">
      <ion-card>
          <ion-fab top right *ngIf="c.user_created == idUser">
            <button ion-fab mini><ion-icon name="md-arrow-dropleft"></ion-icon></button>
            <ion-fab-list side="left">
              <button ion-fab (click)="openModal(c.id)"><ion-icon name="md-refresh"></ion-icon></button>
              <button ion-fab (click)="delete(c.id)"><ion-icon name="md-trash"></ion-icon></button>
            </ion-fab-list>
          </ion-fab>
          <img *ngIf="c.picture" (click)="seeProducts(c.id)" src="{{c.picture}}"/>
          <img *ngIf="!c.picture" (click)="seeProducts(c.id)" src="{{pictureCategories}}"/>
          <div *ngIf="c.state == 1" (click)="seeProducts(c.id)" class="text-abc"></div>
          <div *ngIf="c.state == 1" (click)="seeProducts(c.id)" class="card-title">{{ c.name }}</div>
          <div *ngIf="c.state == 1" (click)="seeProducts(c.id)" class="card-subtitle">{{ c.description }}</div>
      </ion-card>
    </div>
  </div>
  <ion-fab right bottom>
    <button ion-fab (click)="openModal('new')" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>