<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tipos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let x of Table">
      <button ion-item *ngIf="x.user_created == idUser" (click)="openForm(x.id)">
      <label>
        <p class="mayusculas"><ion-icon name="pricetag"></ion-icon>  {{x.name}}</p>
        <p>{{x.description}}</p>
      </label>
      </button>
    </div>
  </ion-list>

  <!-- BOTON AGREGAR RETO -->
  <ion-fab right bottom>
    <button ion-fab (click)="openForm()" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>