<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <form style="display: block; max-width: 600px; height: auto; margin-left: auto; margin-right: auto;" (ngSubmit)="saveChanges()">
    <div >
      <img src="{{ order.picture }}" id="imgAvatar" alt="Avatar" class="image-slides"/>
      <img src="{{ order.picture }}" id="imgAvatar2" alt="Avatar" class="image-slides"/>
    </div>
    <ion-list no-lines>
    <!--NOMBRE-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Nombre</ion-label>
      <ion-input type="text"
      [(ngModel)]="product" name="name" disabled>
      </ion-input>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-chatboxes" md="md-chatboxes"></ion-icon>  Comentario</ion-label>
      <ion-textarea type="text"
      [(ngModel)]="order.comment" name="comment">
      </ion-textarea>
    </ion-item>
    <!--PRECIO-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-pricetags" md="md-pricetags"></ion-icon>  Precio por Unidad</ion-label>
      <ion-input type="text"
        [(ngModel)]="order.unit_price2" name="unit_price2" disabled >
      </ion-input>
    </ion-item>
    <!--CANTIDAD-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-basket-outline" md="ios-basket"></ion-icon>  Cantidad</ion-label>
      <ion-select [(ngModel)]="order.quantity" name="quantity">
        <ion-option *ngFor="let x of quantities" value="{{ x }}">{{ x }}</ion-option>
      </ion-select>
    </ion-item>
    <!--CANTIDAD-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-cash" md="md-cash"></ion-icon>  Tipo de Pago</ion-label>
      <ion-select [(ngModel)]="order.paymentType" name="paymentType">
        <ion-option value="1" >Pago Contra Entrega</ion-option>
        <ion-option value="3" >Deposito Bancario</ion-option>
        <ion-option value="2" *ngIf="idUser!=47">Tarjeta de Credito</ion-option>
      </ion-select>
    </ion-item>
    <!--CANTIDAD-->
    <ion-item *ngIf="idUser==47">
      <ion-label floating><ion-icon ios="ios-cash" md="md-cash"></ion-icon>  Precios de Envío</ion-label>
      <ion-select [(ngModel)]="order.opcion1" name="opcion1">
        <ion-option value="1" >Q35.00 Mixco, Villa Nueva, Carretera al Salvador, KM 9 - KM 18</ion-option>
        <ion-option value="3" >Q25.00 Ciudad Capital</ion-option>
      </ion-select>
    </ion-item>
    <!--PRECIO-->
    <ion-item *ngIf="order.paymentType == 3">
      <ion-label floating><ion-icon ios="ios-document" md="md-document"></ion-icon>  No. de Deposito</ion-label>
      <ion-input type="text"
        [(ngModel)]="order.deposito" name="deposito">
      </ion-input>
    </ion-item>
    <!--DESCUENTO-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-cash" md="md-cash"></ion-icon>  Código de Descuento</ion-label>
      <ion-input type="text" [(ngModel)]="data.codigo" name="codigo" maxlength="255">
      </ion-input>
    </ion-item>
    </ion-list>
    <div class="upload-btn-wrapper">
      <button style="width: 100%" ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}">
        <ion-icon ios="ios-attach" md="md-attach"></ion-icon>
        Adjuntar Archivo
      </button>
      <input class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
    </div>
    <button ion-button block icon-start type="button" color="{{ btnColor!=null?btnColor:'primary' }}" (click)="search()" [disabled]="btnDisabled2">
      <ion-icon name="search"></ion-icon>Buscar Código
    </button>
    <button ion-button block icon-start type="submit" color="{{ btnColor!=null?btnColor:'primary' }}" [disabled]="btnDisabled">
      <ion-icon ios="ios-cart" md="md-cart"></ion-icon>Realizar Pedido
    </button>
  </form>
</ion-content>
