<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>Detalles</ion-title>
    <ion-buttons end >
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <div id='iframe'>
      <img class="image-slides2" src="https://is2-ssl.mzstatic.com/image/thumb/Purple113/v4/6f/9a/c2/6f9ac240-b47a-b6b9-78bb-5c1a52a281f0/source/512x512bb.jpg">
    </div>

    <!-- INFORMACION -->
    <div>
      <h2 class="text center">Semana I</h2>
      <p class="text center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>

  <button ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowserPDF('http://mate.ingenieria.usac.edu.gt/archivos/123-1-00-2020.pdf', 'PDF')">
    <ion-icon name="document"></ion-icon>
    Ver Documento
  </button>

  <button ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://www.youtube.com/watch?v=CrUp5dqq3f4')">
    <ion-icon name="play"></ion-icon>
    Ir al Video
  </button>

  <br>
  <button ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start>
    <ion-icon name="checkmark"></ion-icon>
    Marcar como completado
  </button>
</ion-content>