youtube-user {
    ion-fab {
        margin-top: -30px;
    }
    ion-card {
        position: relative;
    }
    #not-found {
        text-align: center;
        margin-top: 50%;
        img {
            width: 200px;
        }
    }
}