<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ data.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="data.picture" id='iframe'>
    <img class="image-slides2" [src]="data.picture | sanitizer">
  </div>

  <!-- INFORMACION -->
  <div>
    <h2 class="text center" *ngIf="data.title">{{data.title}}</h2>
    <p class="text center" *ngIf="data.description">{{data.description}}
    </p>
  </div>

  <div padding>
    <button *ngIf="data.link" ion-button block type="button" icon-start (click)="openBrowser(data.link)" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-link" md="md-link"></ion-icon>
      Link Externo
    </button>
  </div>

    <!-- COMENTARIOS DE USUARIOS 
    <div>
      <ion-card *ngFor="let x of comments">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ c.picture }}">
        </ion-avatar>
        <h2>{{ x.user }}</h2>
        <p>{{ x.fecha }}</p>
      </ion-item>
      <ion-card-content>
        <p>{{ x.comment }}</p>
      </ion-card-content>
      </ion-card>
    </div>-->
</ion-content>